/* Error: expected ";".
 *    ,
 * 31 |             @include bac
 *    |                         ^
 *    '
 *   scss\_sucursales.scss 31:25  @import
 *   scss\main.scss 8:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 31 \2502              @include bac\d\a    \2502                          ^\a    \2575 \a   scss\\_sucursales.scss 31:25  @import\a   scss\\main.scss 8:9           root stylesheet';
}
