//extends
.tittle-general {
    margin-top: 96.34px;
    background-image: $background-tittles;
    text-align: center;
    font-size: 60px;
    padding-bottom: 10px;
    color: $color-text-white;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px));
    padding-bottom: 35px;
}
.p-general {
    padding: 10px 0 10px 10px;
    font-size: 20px;
    line-height: 35px;
    font-weight: $text-weight-bold;
}
.btn-general {
    padding: 15px 30px;
    background-color: $color-footer-background;
    border: none;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    border-radius: 28px;
    width: 30%;
    transition: 0s;
    color: $color-text-white;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    &:hover {
        background-image: $background-tittles;
        box-shadow: 0 0 10px rgb(246, 246, 246), 0 0 20px rgb(219, 136, 47), 0 0 50px rgb(246, 164, 31);
        color: $color-text-white;
    }
}
.efect-service{
    background-color: rgba(39, 39, 39, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 1px 1px 20px $color-text-black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-radius: 13px;
    margin: 25px;
    padding: 20px;
    place-items: center;
}

.background-tittle-secundary{
    padding: 45px;
    position: relative;
    --mask:
        radial-gradient(35px at 35px 35px,#0000 calc(98% - 5px),#000 calc(100% - 5px) 98%,#0000) -35px -35px,
        linear-gradient(90deg,#000 10px,#0000 0) -5px 50% /100% calc(100% - 70px + 5px) repeat-x,
        linear-gradient(      #000 10px,#0000 0) 50% -5px/calc(100% - 70px + 5px) 100% repeat-y;
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: $color-principal;
        -webkit-mask: var(--mask);
                mask: var(--mask);
      }
}
.background-description{
    --mask: radial-gradient(20px at 20px 20px,#0000 98%,#000) -20px -20px;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

//mixins
@mixin efectup ($top,$bottom,$left,$right)
{
    clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px));
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}

@mixin background-tittle-secundary ($pad)
{
    padding: $pad;
    position: relative;
    --mask:
        radial-gradient(35px at 35px 35px,#0000 calc(98% - 5px),#000 calc(100% - 5px) 98%,#0000) -35px -35px,
        linear-gradient(90deg,#000 10px,#0000 0) -5px 50% /100% calc(100% - 70px + 5px) repeat-x,
        linear-gradient(      #000 10px,#0000 0) 50% -5px/calc(100% - 70px + 5px) 100% repeat-y;
    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: $color-principal;
        -webkit-mask: var(--mask);
                mask: var(--mask);
      }
}
