.service-conteiner {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "tittle"
    "description"
    "service1"
    "service2"
    "service3"
    "service4"
    "service5";
}
.service-conteiner {
    h1{
        @extend .tittle-general;
        grid-area: tittle;
    }
    h2{
        color: $color-text-black;
        text-align: center;
        text-shadow: 1px 1px $text-shadow-black;
        font-size: 40px;
        letter-spacing: 2px;
        font-weight: $text-weight-bold; 
    }
    h3{
        text-align: center;
        font-style: italic;
        color: $color-text-white;
        text-shadow: 1px 1px  $color-principal;
    }
    p{
        font-size: 16px;
        line-height: 35px;
        font-weight: bold;
    }
}
.tittle-service {
    grid-area: description;
} 
.service-1-2{
    grid-area: service12;
}
.service-1 {
    background-color: rgba(39, 39, 39, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 1px 1px 20px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-radius: 13px;
    margin: 25px;
    padding: 20px;
    place-items: center;
    grid-area: service1;
}
  
.service-2 {
    background-color: rgb(39, 39, 39, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 1px 1px 20px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-radius: 13px;
    margin: 25px;
    padding: 20px;
    place-items: center;
    grid-area: service2;
}
  
.service-3 {
    background-color: rgb(39, 39, 39, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 1px 1px 20px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-radius: 13px;
    margin: 25px;
    padding: 20px;
    place-items: center;
    grid-area: service3;
}
  
.service-4 {
    background-color: rgb(39, 39, 39, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 1px 1px 20px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-radius: 13px;
    margin: 25px;
    padding: 20px;
    place-items: center;
    grid-area: service4;

}
  
.service-5 {
    background-color: rgb(39, 39, 39, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 1px 1px 20px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-radius: 13px;
    margin: 25px;
    padding: 20px;
    place-items: center;
    grid-area: service5; 

}


@media (width < 800px){
    .service-conteiner h1 {
        font-size: 30px;
    }
}@media (width < 600px){
    .service-conteiner { 
        h1 {
        font-size: 25px;
        margin-top: 96.34px;
        } 
        h2{
            font-size: 20px;
        } 
        h3{
            font-size: 20px;
        } 
        p{
            font-size: 15px;            
        }
        .service-1{
            flex-direction: column-reverse ;
        } 
        .service-2{
            flex-direction: column-reverse ;
        } 
        .service-3{
            flex-direction: column-reverse ;
        }
        .service-4{
            flex-direction: column-reverse ;
        }
        .service-5{
            flex-direction: column-reverse ;
        }
    }
    }