.service-conteiner {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "tittle tittle tittle"
    "description description description"
    "service12 service12 service12"
    "service3 service4 service5"
    ;
}
.service-conteiner {
    h1{
        @extend .tittle-general;
        grid-area: tittle;
    }
    h2{
        color: $color-text-black;
        text-align: center;
        margin-bottom: 20px;
        text-shadow: 1px 1px $text-shadow-black;
        font-size: 40px;
        letter-spacing: 2px;
        font-weight: $text-weight-bold; 
    }
    h3{
        text-align: center;
        font-style: italic;
        color: $color-text-white;
        text-shadow: 1px 1px  $color-principal;
        padding-bottom: 5px;
        margin-bottom: 40px;
    }
    p{
        padding: 10px 0 10px 10px;
        font-size: 16px;
        line-height: 35px;
        font-weight: bold;
    }
}
.tittle-service {
    grid-area: description;
} 
.service-1-2{
    grid-area: service12;
}
.service-1 {
    background-color: rgba(39, 39, 39, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 1px 1px 20px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-radius: 13px;
    margin: 25px;
    padding: 20px;
    place-items: center;
    grid-area: service1;
}
  
.service-2 {
    background-color: rgb(39, 39, 39, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 1px 1px 20px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-radius: 13px;
    margin: 25px;
    padding: 20px;
    place-items: center;
    grid-area: service2;
}
  
.service-3 {
    background-color: rgb(39, 39, 39, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 1px 1px 20px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-radius: 13px;
    margin: 25px;
    padding: 20px;
    place-items: center;
    grid-area: service3;
}
  
.service-4 {
    background-color: rgb(39, 39, 39, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 1px 1px 20px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-radius: 13px;
    margin: 25px;
    padding: 20px;
    place-items: center;
    grid-area: service4;

}
  
.service-5 {
    background-color: rgb(39, 39, 39, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 1px 1px 20px black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border-radius: 13px;
    margin: 25px;
    padding: 20px;
    place-items: center;
    grid-area: service5; 

}
