.sucursales{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "title"
            "sucu1"
            "sucu2"
            "sucu3";
        h1{
            @extend .tittle-general;
            @include efectup(0px,35px,0px,0px);
        }
        h2{
            color: $color-text-black;
            text-align: center;
            margin-bottom: 20px;
            text-shadow: 1px 1px $text-shadow-black;
            font-size: 40px;
            letter-spacing: 2px;
            font-weight: $text-weight-bold; 
        }
        h3{
            text-align: center;
            font-style: italic;
            color: $color-text-white;
            text-shadow: 1px 1px  $color-principal;
            padding-bottom: 5px;
            margin-bottom: 40px;
        }
        .sucursal-1 {
            @extend .efect-service;
            grid-area: sucu1;
        }
        .sucursal-2{
            @extend .efect-service;
            flex-direction: row;
            grid-area: sucu2;
        }
        .sucursal-3{
            @extend .efect-service;
            grid-area: sucu3;
        }  
    }
//Button Sucursales
.btn-ubic {
    @extend .btn-general;
    width: 50%;
}

//RESPONSIVE 
@media (width < 700px){
.sucursales{ 
    h1 {
    font-size: 35px;
    margin-top: 96.34px;
    } 
    h2{
        margin-top: 20px;
        font-size: 50px;
    } 
    h3{
        font-size: 25px;
    } 
    a{
        font-size: 20px;
    } 
    .sucursal-1{
        flex-direction: column-reverse ;
        h3{
            font-size: 25px;
        }
    } 
    .sucursal-2{
        flex-direction: column-reverse ;
    } 
    .sucursal-3{
        flex-direction: column-reverse ;
    } 
    iframe {
        width: 100%;
    }
    }
}   
@media (width < 400px){
.sucursales{ 
    h1 {
        font-size: 25px;
        margin-top: 96.34px;
    } 
    h2{
        font-size: 35px;
        margin-top: 20px;
    } 
    h3{
        font-size: 20px;
    } 
    p{
        font-size: 15px;
    } 
    .sucursal-1 
    h3{
        font-size: 20px;
        } 
    .sucursal-1{
        flex-direction: column-reverse ;
    } 
    .sucursal-2{
        flex-direction: column-reverse ;
    } 
    .sucursal-3{
        flex-direction: column-reverse ;
    }
}
}