//variables 
$background-principal: linear-gradient(rgba(204, 204, 204, 0.6), rgba(204, 204, 204, 0.6)),url(../IMAGES/Background.svg); 
$background-tittles: linear-gradient(180deg, rgb(39, 39, 39 ,  0.8 ), rgb(233, 86, 7 , 0.85));
$background-nav : linear-gradient(180deg,rgb(233, 86, 7 , 0.85), rgb(39, 39, 39 ,  0.8 ));
$color-principal: rgb(233, 86, 7);
$color-text-white: rgb(250, 250, 250);
$color-text-black: rgb(8, 8, 8);
$color-footer-background:rgb(39, 39, 39 , 0.8);
$border-radious: 13px;


//TEXT 
$text-font: 'Signika Negative', sans-serif;
$text-weight-regular: 400 ; 
$text-weight-light: 300 ;
$text-weight-bold: bold ;
$text-shadow-black: 0 0 10px rgba(0,0,0,0.8) ;

*{
    box-sizing: border-box;
    font-family: $text-font; 
}
body{
    background: $background-principal;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}


